In [74]:
# 导入工具包
import pandas as pd

# 读取数据
records = pd.read_csv('./data/machine_fault_records.csv', low_memory=False)
codes = pd.read_csv('./data/machine_fault_codes.csv', encoding='gbk')

In [75]:
# 数据统计信息
codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 7 columns):
CODE            473 non-null int64
SPN             473 non-null int64
FMI             473 non-null int64
DESCRIPTION     471 non-null object
ENGINETYPEID    473 non-null int64
FAULTSOURCE     473 non-null object
FAULTNAME       473 non-null object
dtypes: int64(4), object(3)
memory usage: 25.9+ KB

In [76]:
# 数据格式
codes.sample(5)

,CODE,SPN,FMI,DESCRIPTION,ENGINETYPEID,FAULTSOURCE,FAULTNAME
138,1048,5210,2,TCU接收消息（齿轮选择范围）(ZF_3_识别)和前轮驱动状态 (V_IDENT_FWD)虽...,1958,变速箱,TCU接收消息（齿轮选择范围）
389,1385,1416,11,4缸喷油器错误,1958,潍柴国三,4缸喷油器错误
429,1425,1328,3,6缸失火,1958,潍柴国三,6缸失火
6,1181,136,2,共轨压力超过最高限制,1958,上柴国三,共轨压力超过最高限制
466,1465,520277,4,远程油门踏板1输出电压值低于下限,1958,潍柴国三,远程油门踏板1输出电压值低于下限

In [77]:
# 数据统计信息
records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131134 entries, 0 to 131133
Data columns (total 19 columns):
ACCRUNTIMES           131134 non-null int64
AREA                  131134 non-null int64
CD_VP_UNIQUENO        0 non-null float64
CITY                  131134 non-null int64
COLLECTTIME           131134 non-null object
COOLANTTEMPERATURE    0 non-null float64
DIRECTION             0 non-null float64
ELCANDVOL             0 non-null float64
FAULTTIME             131134 non-null object
FMI                   131131 non-null float64
FRID                  131134 non-null int64
LATITUDE              131134 non-null float64
LONGITUDE             131134 non-null float64
PROVINCE              131134 non-null int64
READFLAG              131134 non-null int64
ROTATIONALSPEED       0 non-null float64
SPN                   131130 non-null float64
SYSTEMDATE            0 non-null float64
UNIQUENO              131134 non-null float64
dtypes: float64(11), int64(6), object(2)
memory usage: 19.0+ MB

In [78]:
# 数据格式
records.sample(5)

,ACCRUNTIMES,AREA,CD_VP_UNIQUENO,CITY,COLLECTTIME,COOLANTTEMPERATURE,DIRECTION,ELCANDVOL,FAULTTIME,FMI,FRID,LATITUDE,LONGITUDE,PROVINCE,READFLAG,ROTATIONALSPEED,SPN,SYSTEMDATE,UNIQUENO
53376,606,410481,NaN,410400,2018/4/8 14:07,NaN,NaN,NaN,2018/4/8 14:07,15.0,2415253,33.224896,33.224896,410000,1,NaN,8809.0,NaN,2.020000e+17
11985,1012,320829,NaN,320800,2018/4/2 17:16,NaN,NaN,NaN,2018/4/2 17:16,15.0,2372808,33.281823,33.281823,320000,1,NaN,8809.0,NaN,2.020000e+17
123786,722,361181,NaN,361100,2018/4/17 16:21,NaN,NaN,NaN,2018/4/17 16:21,15.0,2510298,29.002847,29.002847,360000,1,NaN,8809.0,NaN,2.020000e+17
123742,305,370521,NaN,370500,2018/4/17 16:18,NaN,NaN,NaN,2018/4/17 16:18,15.0,2510247,37.524688,37.524688,370000,1,NaN,8809.0,NaN,2.020000e+17
76982,1335,130208,NaN,130200,2018/4/11 6:58,NaN,NaN,NaN,2018/4/11 6:58,15.0,2444966,39.584417,39.584417,130000,1,NaN,8809.0,NaN,2.020000e+17

In [79]:
# 删除指定列为空值的行
records.dropna(subset=['SPN', 'FMI'], inplace=True)

In [80]:
# 删除值全为空的列
empty_columns = records.columns[records.isnull().sum() == records.shape[0]]
print('共有%i个全为空值的列' % len(empty_columns))
print('这些列为：', empty_columns)

records.drop(empty_columns, axis=1, inplace=True)

共有6个全为空值的列
这些列为： Index(['CD_VP_UNIQUENO', 'COOLANTTEMPERATURE', 'DIRECTION', 'ELCANDVOL',
       'ROTATIONALSPEED', 'SYSTEMDATE'],
      dtype='object')

In [81]:
# 删除只有同一个值的特征列
onlyone_val_columns = records.columns[records.nunique(axis=0) == 1]
print('共有%i个列只有同一个值，' % len(onlyone_val_columns))
print('这些列为：', onlyone_val_columns)

records.drop(onlyone_val_columns, axis=1, inplace=True)

共有1个列只有同一个值，
这些列为： Index(['UNIQUENO'], dtype='object')

In [82]:
# 数据统计
records.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131127 entries, 0 to 131133
Data columns (total 12 columns):
ACCRUNTIMES    131127 non-null int64
AREA           131127 non-null int64
CITY           131127 non-null int64
COLLECTTIME    131127 non-null object
FAULTTIME      131127 non-null object
FMI            131127 non-null float64
FRID           131127 non-null int64
LATITUDE       131127 non-null float64
LONGITUDE      131127 non-null float64
PROVINCE       131127 non-null int64
READFLAG       131127 non-null int64
SPN            131127 non-null float64
dtypes: float64(4), int64(6), object(2)
memory usage: 13.0+ MB